@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap");

.Ubuntu {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
}

.UbuntuMedium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
}

.UbuntuBold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
}

html {
    scroll-behavior: smooth !important;
}

body {
    background-color: #fff7df;
    font-family: "Ubuntu", sans-serif;
}

.title {
    background-color: #ffcd29;
    min-width: 200px;
}

.title h1 {
    margin: 0;
    color: white;
    font-weight: 700;
}
