@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Ubuntu";
    src: url("/assets/fonts/Ubuntu-Regular.ttf");
}

@font-face {
    font-family: "UbuntuBold";
    src: url("/assets/fonts/Ubuntu-Bold.ttf");
}

@font-face {
    font-family: "UbuntuMedium";
    src: url("/assets/fonts/Ubuntu-Medium.ttf");
}

@font-face {
    font-family: "Teko";
    src: url("/assets/fonts/Teko-Medium.ttf");
}

.Teko {
    font-family: "Teko";
}

.Ubuntu {
    font-family: "Ubuntu";
}

.UbuntuMedium {
    font-family: "UbuntuMedium";
    font-weight: 500;
}

.UbuntuBold {
    font-family: "UbuntuBold";
    font-weight: 700;
}

.UbuntuShadow {
    width: fit-content;
    padding: 0 20px;
    display: inline-block;
    font-family: "Ubuntu";
    color: #ffcd29;
    text-shadow: 2px 2px #616161;
    font-weight: 700;
}

html {
    scroll-behavior: smooth !important;
}

body {
    background-color: #fff7df;
    font-family: "Ubuntu";
}

.title {
    min-width: 200px;
}

.title h1 {
    margin: 0;
    color: white;
    font-weight: 700;
}

@media screen and (max-width: 600px) {
    .title {
        scroll-margin-top: 100px !important;
    }
}

/* custom antd style */
.ant-modal-content {
    border-radius: 30px !important;
    padding: 0 !important;
}
.ant-btn-primary {
    background-color: #ffcd29 !important;
}
